* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#grid-container {
    height: 642px;
    width: 642px;
    display: flex;
    flex-wrap: wrap;
}

#menu-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
}

.featurebutton {
    border: 1px solid black;
    border-radius: 7px;
    font-weight: bold;
    margin: 1rem;
    background-color: white;
    width: 100px;
}